/*
Error: Invalid mixin "======".
        on line 41 of C:\Users\MSI\Desktop\2 thang ngu\ngu2\ngu\test.sass

36: 				p 
37: 					float: left
38: 					display: block
39: 					width: 100%
40: 					color: #fff
41: =======
42: 		#box3 
43: 		height: 980px
44: 		width: 25%
45: 		float: right
46: 		background: white

Backtrace:
C:\Users\MSI\Desktop\2 thang ngu\ngu2\ngu\test.sass:41
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:1127:in `parse_mixin_definition'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:659:in `parse_line'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:540:in `build_tree'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:559:in `block in append_children'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `each'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:558:in `append_children'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:417:in `_to_tree'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
E:/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
E:/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
E:/koala/bin/sass:22:in `load'
E:/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid mixin \"======\".\A         on line 41 of C:\Users\MSI\Desktop\2 thang ngu\ngu2\ngu\test.sass\A \A 36: 				p \A 37: 					float: left\A 38: 					display: block\A 39: 					width: 100%\A 40: 					color: #fff\A 41: =======\A 42: 		#box3 \A 43: 		height: 980px\A 44: 		width: 25%\A 45: 		float: right\A 46: 		background: white"; }
